:root {
    --bg: #F6F6F4;
    --lightGrey: #CBD2D3;
    --pencil:  #B1B1B1;
  }
@media only screen and (max-width: 700px) {
    .arrow { display: none !important; }
}
@media only screen and (max-width: 480px) {
    html{
        font-size: 12px !important;
    }
    #down-arrow-container {
        display: none !important;
    }
    #logo-container{
        width: 100vw !important;
        justify-content: space-around !important;
    }
    #aboutme-container {
        display: flex; 
        flex-direction: column !important;
    }
    #alecTedContainer {
        width: 100px !important;
    }
    #alecTed {
        max-width: 50% !important;
        height: auto;
        position: relative;
        bottom: 50px;
        border-radius: 50%;
        box-shadow: none !important;
    } 
    #alecTed:hover {
        box-shadow: none !important;
    }
    #curved-text{
        display: none;
    }
    /*
    .bios{
        display: none;
    }
    */
    #teddy-bio {
        width: 45% !important;
        margin-top: -75px !important;
        text-align: left !important;
    }
    #alec-bio {
        width: 45% !important;
    }
    #mobile-container{
        display: flex;
        flex-direction: row;
        top: 100vh;
        justify-content: space-around;
    }
    #together-bio {
        top: 100vh !important;
    }
    .proj-container {
        width: 98vw;
        display: flex;
        flex-direction: column;   
    }
    .projects{
        width:100% !important;
        box-shadow: none !important;
        border-radius: 200px 10px 200px 10px/10px 200px 10px 200px;
        border: solid 2px var(--pencil);
    }
    .projects:hover {
        box-shadow: none !important;
    }
    .projects{
        display: none;
    }
    .proj-title{
        display: none;
    }
    .desc{
        display: none;
    }
}
html {
    font-size: 16px;
}
body {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: var(--bg);
}
.random {
    text-align: center;
    position: relative;
    top: 45vh;
    color: var(--lightGrey);
}
span {
    width: 1.5rem;
    display: inline-block;
}
#down-arrow-container {
    position: relative;
    top: 87vh;
    display: flex;
    justify-content: center;
    width: 2.5rem;
    margin: auto;
}
#logo-container {
    position: relative;
    width: 9rem;
    top: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}
.github-btn, .linkedin-btn, .devto-btn, .down-btn, .envelope-btn{
    background-color: var(--bg);
    border: none;
}
.fa-github, .fa-linkedin, .fa-dev, .fa-angle-double-down, .fa-envelope {
    font-size: 2rem;
    padding: 0vmin 1vmin 1vmin 0vmin;
    background-color: var(--bg);
    color: var(--bg);
    transition: all 0.25s ease;
}
.fa-github:hover, .fa-linkedin:hover, .fa-dev:hover, .fa-angle-double-down:hover, .fa-envelope:hover {
    transform: scale(1.25);
}
.down-btn {
    justify-self: center;
}

#aboutme-container {
    position: relative;
    top: 100vh;
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#arrow1 {
    position: relative;
    top: 75px;
}
#arrow2 {
    position: relative;
    bottom:175px;
}

#alecTed-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -50px;
}
#alecTed {
    max-width: 100%;
    height: auto;
    position: relative;
    bottom: 50px;
    border-radius: 50%;
    transition: all 0.5s ease;
    box-shadow: 20px 40px 40px -25px rgba(0, 0, 0, .2);
}

#curved-text, #goodbye-message{
    font-family: 'Amatic SC';
    position: relative;
    font-weight: bold;
    color: var(--pencil);
    margin: 0;
}

#alecTed:hover {
    box-shadow: 2px 10px 5px -5px rgba(0, 0, 0, .4);
}
#teddy-bio {
    width: 33%;
    font-family: 'Amatic SC';
    font-weight: bold;
    color: var(--pencil);
    margin-top: 50px;
    text-align: right;
}
#alec-bio {
    width: 33%;
    font-family: 'Amatic SC';
    font-weight: bold;
    color: var(--pencil);
    margin-top: -75px;
    margin-left: 10px;
}
#mobile-container{
    display: none;
}
#together-bio {
    position: relative;
    top: 120vh;
    height: 100px;
    width: 100vw;
    text-align: center;
    font-family: 'Amatic SC';
    font-weight: bold;
    color: var(--pencil);
}

#gallery {
    position: relative;
    top: 125vh;
    height: 2200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.proj-container {
    width: 98vw;
    display: flex;
    justify-content: center;
}
.projects{
    width:455px;
    box-shadow: 20px 40px 40px -25px rgba(0, 0, 0, .2);
    border-radius: 200px 10px 200px 10px/10px 200px 10px 200px;
    transition: all 0.5s ease;
    border: solid 2px var(--pencil);
}
.projects:hover {
    box-shadow: 2px 10px 5px -5px rgba(0, 0, 0, .4);
}
.desc-container{
    width:415px;
    margin: 0px 20px 0px 20px;
}
.proj-title{
    font-weight: bold;
    font-size: 2rem;
    color: var(--pencil);
    font-family: 'Amatic SC';
    text-align: center;
    margin: 0;
}
.code-link{
    color: var(--pencil);
}
.link {
    color: var(--pencil);
    font-size: 2rem;
}
.desc{
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: 1.5rem;
    color: var(--pencil);
    font-weight: bold;
}
#end-container{
    padding-top: 200px;
    position: relative;
    top: 120vh;
    text-align: center;
}
