@media only screen and (max-width: 700px) {
    .arrow { display: none !important; }
}
body {
    font-family: sans-serif;
    font-size: 26px;
    background-color: #F6F6F4;
}
.random {
    text-align: center;
    position: relative;
    top: 45vh;
    color: #CBD2D3;
}
span {
    width: 25px;
    display: inline-block;
}
#down-arrow-container {
    position: relative;
    top: 87vh;
    display: flex;
    justify-content: center;
    width: 40px;
    margin: auto;
}
#logo-container {
    position: relative;
    width: 150px;
    top: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}
.github-btn, .linkedin-btn, .devto-btn, .down-btn, .envelope-btn{
    background-color: #F6F6F4;
    border: none;
}
.fa-github, .fa-linkedin, .fa-dev, .fa-angle-double-down, .fa-envelope {
    font-size: 35px;
    padding: 0vmin 1vmin 1vmin 0vmin;
    background-color: #F6F6F4;
    color: #F6F6F4;
    transition: all 0.25s ease;
}
.fa-github:hover, .fa-linkedin:hover, .fa-dev:hover, .fa-angle-double-down:hover, .fa-envelope:hover {
    transform: scale(1.25);
}
.down-btn {
    justify-self: center;
}

#aboutme-container {
    position: relative;
    top: 100vh;
    height: 300px;
    width: 100vw;
    table-layout: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#arrow1 {
    position: relative;
    top: 75px;
}
#arrow2 {
    position: relative;
    bottom:175px;
}

#alecTed-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -50px;
}
#alecTed {
    max-width: 100%;
    height: auto;
    position: relative;
    bottom: 50px;
    border-radius: 50%;
    transition: all 0.5s ease;
    box-shadow: 20px 40px 40px -25px rgba(0, 0, 0, .2);
}

#curved-text, #goodbye-message{
    font-family: 'Amatic SC';
    position: relative;
    font-weight: bold;
    font-size: 30px;
    color: #B1B1B1;
    margin: 0;
}

#alecTed:hover {
    box-shadow: 2px 10px 5px -5px rgba(0, 0, 0, .4);
}
#teddy-bio {
    width: 25%;
    font-family: 'Amatic SC';
    font-weight: bold;
    font-size: 30px;
    color: #B1B1B1;
    margin-top: 50px;
    text-align: right;
}
#alec-bio {
    width: 25%;
    font-family: 'Amatic SC';
    font-weight: bold;
    font-size: 30px;;
    color: #B1B1B1;
    margin-top: -75px;
    margin-left: 10px;
}
#together-bio {
    position: relative;
    top: 120vh;
    height: 100px;
    width: 100vw;
    text-align: center;
    font-family: 'Amatic SC';
    font-weight: bold;
    color: #B1B1B1;
    font-size: 30px;;
}
#gallery {
    position: relative;
    top: 125vh;
    height: 2200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.proj-container {
    width: 98vw;
    display: flex;
    justify-content: center;

}
/*
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap
*/
.projects{
    width:455px;
    box-shadow: 20px 40px 40px -25px rgba(0, 0, 0, .2);
    border-radius: 200px 10px 200px 10px/10px 200px 10px 200px;
    transition: all 0.5s ease;
    border: solid 2px #B1B1B1;
}
.projects:hover {
    box-shadow: 2px 10px 5px -5px rgba(0, 0, 0, .4);
}
.desc-container{
    width:415px;
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: 24px;
    color: #B1B1B1;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
}
.proj-title{
    font-weight: bold;
    font-size: 30px;
    color: #B1B1B1;
    font-family: 'Amatic SC';
    text-align: center;
    margin: 0;
}
.code-link{
    color: #B1B1B1;
}
.link {
    color: #B1B1B1;
    font-size: 30px;
}
/*

    border-radius: 2px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 3px 3px rgba(177,177,177,0.8), 0 3px 3px rgba(177,177,177,1);
    transition: transform .3s;

#strava:hover, #calc:hover, #quote:hover, #md:hover{
    transform: scale(1.07);
}
*/
#end-container{
    padding-top: 200px;
    position: relative;
    top: 120vh;
    text-align: center;
}
